<div class="d-flex" id="wrapper" [class.toggled]="toggled">

  <!-- Sidebar -->
  <div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-heading topbar"><i class="fas fa-paw" style="color: white"></i></div>
    <div class="list-group list-group-flush">
      <app-navbar></app-navbar>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom topbar" id="_navBar">
      <button (click)="toggleMenu()" class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link topbar-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <app-logout></app-logout>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!--<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
