/* You can add global styles to this file, and also import other style files */
/*
 * General styles
 */
body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(16, 138, 252));
}
